/bin/
/.apt_generated/
/build/
/.project
/.factorypath
/.classpath
/.settings/
/.gradle/
/.idea
/.externalToolBuilders/
/tools/sencha-cmd
/tools/repo
/extjs/ext
/extjs/build
/extjs/sass/example
/extjs/bootstrap.css
/extjs/bootstrap.js
/extjs/bootstrap.json
/extjs/bootstrap.jsonp
/deploy/
webapp/.password